.container-xl {
  max-width: 100%;
  margin: 2.5rem auto;
  padding: 2rem;
  min-height: 60vh;
  background-image: url("https://cdn.midjourney.com/898f3c5a-06ee-4780-83a4-56601992733c/0_3.webp");
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  align-content: center;
}

.title {
  font-size: 3rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
}

.title span {
  color: #ff69b4;
}

.shop-btn {
  margin-top: 1.5rem;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  background-color: #ff6f61;
  border: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.shop-btn:hover {
  background-color: #ff3f31;
}

@media (max-width: 768px) {
  .text {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .Pagetext {
    font-size: 0.875rem;
  }

  .shop-btn {
    font-size: 0.875rem;
    padding: 0.5rem 1.5rem;
  }

  .title {
    font-size: 1.75rem;
  }

  .container-xl {
    min-height: 50vh;
  }
}

@media (max-width: 576px) {
  .container-xl {
    padding: 1rem;
    min-height: 40vh;
  }

  .title {
    font-size: 1.5rem;
  }

  .Pagetext {
    font-size: 0.75rem;
  }

  .shop-btn {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
  }
}
