.nav-link {
    margin-left: 2.5rem;
  }
  
  .nav-link.active {
    color: white; 
    font-weight: bold;
    border-bottom: 2px solid red; 
  }
  
  .fa-cart-shopping {
    color: #fff;
    margin-right: 2rem;
    font-size: 24px;
    cursor: pointer;
  }
  
  .badge1 {
    height: 22px;
    width: 22px;
    font-size: 13px;
  }