
.navbar {
  box-sizing: border-box;
}

.nav-link {
    margin-left: 3.5rem;
  }
  
  .nav-link.active {
    color: white; 
    font-weight: bold;
    border-bottom: 2px solid red; 
    scale: 1.1;
  }
  
  .fa-cart-shopping {
    color: #fff;
    margin-right: 2rem;
    font-size: 24px;
    cursor: pointer;
  }
  
  .badge1 {
    
    height: 25px;
    width: 25px;
    font-size: 13px;
  }

